@model FerryApp.Models.ManasUser

@{
    ViewData["Title"] = "Login";
}

<div class="ProfileContainer">
    <div class="ProfileView">
        <div class="ProfileDisplay">
            <img class="ProfileImage" src="https://uploads-ssl.webflow.com/617b0bd63ebb878253bd85fa/618197f1c3017b5d3a70fd8f_pattern-generator-540x360px.jpg" alt="Profile Image" />
        </div>
        <div style="height: 10px;"></div>
        <p class="ProfileName">@Model.Name</p>
        <p class="ProfileUserName">@Model.UserName</p>
        <div style="height: 10px;"></div>
        <p class="ProfileWalletLabel">Wallet</p>
        <p class="ProfileWallet">$@Model.Wallet</p>
        <button class="btn btn-primary">Top-up Wallet</button>
        <div style="height: 10px;"></div>
        <div class="BackToListContainer">
            <a class="BackToListText" asp-action="Index" asp-controller="Home">Back to Home</a>
        </div>
    </div>
</div>