.AboutContainer {
    width: 100%;
    height: 80vh;
}

.AboutLegend {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.AboutList {
    height: 100%;
    overflow-y: scroll;   
}

.AboutItem {
    width: 100%;
    padding: 20px 0;
}

.AboutTitle {
    font-size: 20px;
    font-weight: 500;
    color: #1894ff;
}

.AboutText {
    font-size: 17px;
    font-weight: 400;
}