@{
    ViewData["Title"] = "About Us";
}

<div class="AboutContainer">
    <div class="AboutList">
        <legend class="AboutLegend">About Us</legend>
        <div class="AboutItem">
            <p class="AboutTitle">What we offer</p>
            <p class="AboutText">We specialize exclusively in ferry trips and we realize that nothing works without trust. Our top goal is to build trust with you, the potential passengers, and with the ferry operators in order to provide optimized services.</p>
        </div>
        <div class="AboutItem">
            <p class="AboutTitle">Free services through redirection</p>
            <p class="AboutText">Our services are always free to travelers without any hidden charges or commissions. At the final step of your search while locking your reservation, you will be transferred to the site of the operator of your choice, to complete the transaction.</p>
        </div>
        <div class="AboutItem">
            <p class="AboutTitle">Important information and statistics for destinations, ferries and ports</p>
            <p class="AboutText">Frequent updates are made with valid information about destinations, as well as news and relevant statistics. You may wish to drop an eye on our blog (under construction) for the latest news.</p>
        </div>
        <div class="AboutItem">
            <p class="AboutTitle">A user-friendly platform</p>
            <p class="AboutText">Avoid bouncing from one ferry site to the other and wasting your precious time. We offer a stylish and fast platform to help you find all ferries and ferry operators for the route of choice.</p>
        </div>
        <div class="AboutItem">
            <p class="AboutTitle">2 steps to conquer the seven seas</p>
            <p class="AboutText">Ferryhopper is not a travel agent or operator. It is a worldwide one-stop travel metasearch engine which is exclusive to ferries. It is designed to find rapidly all potential offers on a specific trip and to help you find the best possible deal. Forget bouncing from one site to the other and simply choose the one that fits best your preferences!</p>
        </div>
        <div class="AboutItem">
            <p class="AboutTitle">Our story</p>
            <p class="AboutText"><i>Dear Travelers, <br/> Having had the opportunity to experience professionally the increasing trend of online ferry booking and the complexity experienced by the user during the reservation process, one of our founding members turned to longtime collaborators and friends to brainstorm on an innovative approach for online ferry tickets sales. The brainstorming group grew larger as we turned to one another. A team of experts was formed with shipping, IT and statistical analysis skills with one vision: to design and provide a service that simplifies ferry booking, thus turning it into a unique experience.</i></p>
        </div>
        <div class="AboutItem">
            <p class="AboutTitle">To Travel is to Live</p>
            <p class="AboutText">Andersen once wrote, "At rejse er at leve" (to travel is to live) and we guess you are already aware of his famous quote. What you probably don’t know is that Andersen came to this conclusion after fulfilling numerous travels from one country to another by ferry. Travelling was for him a natural way of living. We totally agree with him and we urge you to embrace it. We travel to learn, to see, to explore, to meet, to taste. We travel to feel free and happy. Let us make your sea-travels an amazing experience!</p>
        </div>
    </div>
</div>