@{
    ViewData["Title"] = "Contact";
}

<div class="ContactContainer">
    <div class="ContactList">
        <legend class="ContactLegend">Contact Us</legend>
        <div class="ContactItem">
            <p class="ContactTitle">CUSTOMER SUPPORT</p>
            <p class="ContactText">+91 8448906242 <br/> (7:00 AM - 9:00 PM) <br/> support@ferryhopper.com</p>
        </div>
        <div class="ContactItem">
            <p class="ContactTitle">BUSINESS ENQUIRIES</p>
            <p class="ContactText">info@ferryhopper.com</p>
        </div>
        <div class="ContactItem">
            <p class="ContactTitle">HEAD OFFICE</p>
            <p class="ContactText">
                Room 610, 6th Floor, <br />
                Vindhya Commercial Complex, <br />
                Sector 11, CBD Belapur, <br />
                Navi Mumbai <br />
                Mumbai <br />
                400614
            </p>
        </div>
    </div>
</div>